@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:ital,wght@0,300;0,600;0,700;1,500&display=swap");
body {
  font-size: 20px;
  font-family: "Roboto", "Rubik", sans-serif;
  letter-spacing: 0.3px;
}
h1 {
  text-align: center;
}
p {
  line-height: 1.6;
}
.align-center {
  text-align: center;
}

.para-width {
  width: 800px;
}

.image {
  width: 500px;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
}

.image-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
img{
  width: 200;
  height: 300;
}
/* 





























































































































































































































































































































