@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

/* GLOBAL */

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}
* {
  box-sizing: border-box;
}

